<ul class="tabs"> 
	<li><%%= link_to "#{t("bootstrap-rails.list", :default => "List")}", <%= controller_routing_path %>_path  %></li> 
	<li><%%= link_to "#{t("bootstrap-rails.new", :default => "New")}", new_<%= singular_controller_routing_path %>_path %></li>  
	<li class="active"><%%= link_to "#{t("bootstrap-rails.edit", :default => "Edit")}", edit_<%= singular_controller_routing_path %>_path %></li>
</ul>
<h2 class="title"><%%= t("bootstrap-rails.edit", :default => "Edit") %> <%= model_name %></h2>                            

<%%= form_for @<%= model_name.underscore  %>, :url => <%= singular_controller_routing_path %>_path(@<%= resource_name %>), :html => { :class => "form-stacked" } do |f| -%>
    <%%= render :partial => "form", :locals => {:f => f} %>
<%% end -%>                        

<%% content_for :sidebar, render(:partial => 'sidebar') -%> 

