<% columns.each do |column| %> 
   <div class="clearfix">
     <label for="xlInput"><%%= t("activerecord.attributes.<%= model_name.underscore %>.<%= column.name %>", :default => "<%= column.name.humanize %>") %></label>
     <div class="input">
       <%%= f.<%= column.field_type %> :<%= column.name %>, :class => "xlarge" %>
     </div>
  </div>
<%- end -%>       

<div class="actions">
  <input type="submit" class="btn large primary" value="Salvar">&nbsp;<%%= link_to t("bootstrap-rails.cancel", :default => "Cancel"), <%= controller_routing_path %>_path, :class => "btn large" %>
</div>

